# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Logs and databases
*.log
*.sqlite3
*.db

# Credentials & config files 
.credentials.json
credential.json
credentials.json
.codecarbon.config

# Emission / output files 
*.csv.*
emissions.csv

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE / editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# Type checkers
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# Cython debug symbols
cython_debug/

# Other global / optional ignores
.DS_Store
Thumbs.db
